@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

$main-font: "IBM Plex Sans", sans-serif;
$secondary-font: "Poppins", sans-serif;
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $main-font;
}
$main-color: #eeeeee;
$secondary-color: #a8a8a8;
$background-color: #111111;
$terciary-color: #1c1c1c;

body {
  background-color: $background-color;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2.2% 22px;
  .logo {
    color: $main-color;
    transition: 0.2s;
    &:hover {
      color: $main-color;
      transition: 0.2s;
      cursor: pointer;
    }
  }

  .navbar-menu {
    display: flex;
    a {
      text-decoration: none;
      color: $secondary-color;
      font-size: 1.3em;
      gap: 20px;
      transition: 0.2s;
      &:hover {
        cursor: pointer;
        color: $main-color;
        transition: 0.2s;
      }
    }

    .dropdown {
      // min-width: 15em;
      position: relative;
      // margin: 2em;

      .select {
        .selected {
          margin-left: 5px;
          font-size: 20px;
          color: $secondary-color;
          cursor: pointer;
          transition: 0.2s;
          &:active {
            color: $main-color;
          }
          &:hover {
            color: $main-color;
            transition: 0.2s;
          }
        }
      }

      .menu {
        cursor: pointer;
        list-style: none;
        position: absolute;
        top: 2.3em;
        transition: 0.2s;
        right: -200%;
        width: 400%;
        transform: translateX(-50%);
        opacity: 0;
        display: none;
        z-index: 1;

        li {
          padding: 10px 20px;
          background-color: #0a0a0a;
          cursor: pointer;

          a {
            color: #eeeeee;
            font-size: 1em;
          }
          &:hover {
            background-color: #191919;
          }
        }

        .first-link {
          border-top-left-radius: 10px;
          border-top-right-radius: 10px;
        }
        .last-link {
          border-bottom-left-radius: 10px;
          border-bottom-right-radius: 10px;
        }
        .active {
          background-color: $terciary-color;
          // padding: 10px;

          &:hover {
            color: #0a0a0a;
          }
        }
      }
      .menu-open {
        display: block;
        opacity: 1;

        &:hover {
          color: #0a0a0a;
        }
      }

      .show {
        display: block;
      }
    }

    .ri-menu-fill {
      margin-left: 20px;
    }
  }
}

.hero {
  background-color: #111111;
  height: 47vh;
  display: flex;
  // justify-content: center;
  align-items: center;
  padding: 0% 22px;
  .hero-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    h2 {
      color: $main-color;
      font-size: 1.8rem;
    }
    p {
      font-family: $secondary-font;
      color: $secondary-color;
      font-weight: 400;
      font-size: 0.95rem;
      width: 100%;
    }

    .btn-container {
      display: flex;
      gap: 10px;
      margin-top: 20px;
      .btn {
        border-radius: 20px;
        padding: 4px 15px;
        border: none;
        background-color: $terciary-color;
        color: $main-color;
        display: flex;
        align-items: center;
        text-decoration: none;
        a {
          // display: flex;
          text-decoration: none;
          color: $main-color;
        }
        i {
          padding-left: 5px;
          color: #6e6e6e;
          font-size: 1.2rem;
          font-weight: 500;
          text-decoration: none;
        }
      }
    }
  }
}

.projects {
  display: flex;
  // justify-content: center;
  align-items: center;
  padding: 0% 22px;

  p {
    font-family: $secondary-font;
    color: $secondary-color;
    font-weight: 400;
    font-size: 0.95rem;
    width: 100%;
    margin-bottom: 10%;
  }
  .project-content {
    display: flex;
    flex-direction: column;
    gap: 12px;
    img {
      border-radius: 10px;
      width: 90%;
      height: 25vh;
      transition: 0.2s;
      &:hover {
        box-shadow: 5px 5px 15px;
        cursor: pointer;
        transition: 0.2s;
        transform: scale(1.02);
      }
    }
    h2 {
      color: $main-color;
      font-size: 1rem;
    }
  }
}
// ABOUT SECTION

.hero-about {
  background-color: #111111;
  height: 90vh;
  display: flex;
  justify-content: start;
  align-items: center;
  padding: 0% 22px;

  .hero-container-about {
    display: flex;
    flex-direction: column;
    h2 {
      color: $main-color;
      font-size: 1.8rem;
    }
    p {
      font-family: $secondary-font;
      color: $secondary-color;
      font-weight: 400;
      font-size: 0.95rem;
      width: 100%;
    }
  }
  .container-photo {
    // background-color: aqua;
    margin-left: 15%;
    padding-top: 20px;
    img {
      margin-top: 50px;
      border-radius: 10px;
      width: 250px;
    }
  }
}

.text-about {
  display: flex;
  // justify-content: center;
  align-items: center;
  padding: 0% 22px;

  .about-container {
    h3 {
      font-family: $secondary-font;
      color: $secondary-color;
      font-weight: 400;
      font-size: 0.95rem;
      width: 100%;
      margin-bottom: 5%;
    }

    p {
      color: $main-color;
      font-weight: 400;
      font-size: 1rem;
      width: 100%;
      margin-bottom: 5%;
    }
  }
}

.connect {
  .connect-container {
    margin-top: 10%;
    padding: 0% 22px;
    h2 {
      color: $secondary-color;
      font-size: 1rem;
      font-weight: 400;
      margin-bottom: 5%;
    }
    .connect-container-btn {
      display: flex;
      flex-direction: column;
      gap: 20px;
      button {
        // padding: 20px 50px;
        width: 87vw;
        height: 8vh;
        border-radius: 10px;
        border: none;
        background-color: #191919;
        display: flex;
        justify-content: start;
        align-items: center;
        position: relative;
        gap: 8px;
        cursor: pointer;
        .ri-linkedin-box-fill,
        .ri-github-fill,
        .ri-instagram-line {
          font-size: 25px;
          color: $main-color;
          padding-left: 17px;
        }

        .ri-arrow-right-line {
          position: absolute;
          right: 15px;
          top: 22px;
          font-size: 20px;
          color: $main-color;
        }

        a {
          color: $main-color;
          text-decoration: none;
          font-size: 1rem;
        }
      }
    }
  }
}

.work {
    .work-container {
            margin-top: 10%;
            padding: 0% 22px;
            h2 {
              color: $secondary-color;
              font-size: 1rem;
              font-weight: 400;
              margin-bottom: 5%;
             }
             p {
                color: $main-color;
                font-weight: 400;
                font-size: 1rem;
                // width: 100%;
                margin-bottom: 5%;
              }
}
}
@media (min-width: 600px) {
}

@media (min-width: 1024px) {
}
