@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "IBM Plex Sans", sans-serif;
}

body {
  background-color: #111111;
  animation: openTransition 0.3s;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2.2% 6vw;
}
header .logo a {
  color: #eeeeee;
  cursor: pointer;
  text-decoration: none;
}
header .navbar-menu {
  display: flex;
  gap: 15px;
}
header .navbar-menu .menu-tablet {
  display: none;
}
header .navbar-menu a {
  text-decoration: none;
  color: #a8a8a8;
  font-size: 1.3em;
  gap: 20px;
  transition: 0.2s;
}
header .navbar-menu a:hover {
  cursor: pointer;
  transition: 0.2s;
}
header .navbar-menu .dropdown {
  position: relative;
}
header .navbar-menu .dropdown .select .selected {
  font-size: 20px;
  color: #a8a8a8;
  cursor: pointer;
  transition: 0.2s;
}
header .navbar-menu .dropdown .select .selected:active {
  color: #eeeeee;
}
header .navbar-menu .dropdown .select .selected:hover {
  color: #eeeeee;
  transition: 0.2s;
}
header .navbar-menu .dropdown .menu {
  cursor: pointer;
  list-style: none;
  position: absolute;
  top: 2.3em;
  transition: 0.3s;
  right: -300%;
  width: 600%;
  transform: translateX(-50%);
  opacity: 0;
  display: none;
  z-index: 1;
}
header .navbar-menu .dropdown .menu li {
  padding: 10px 20px;
  background-color: #0a0a0a;
  cursor: pointer;
}
header .navbar-menu .dropdown .menu li a {
  color: #eeeeee;
  font-size: 1em;
}
header .navbar-menu .dropdown .menu li:hover {
  background-color: #191919;
}
header .navbar-menu .dropdown .menu .first-link {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
header .navbar-menu .dropdown .menu .last-link {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
header .navbar-menu .dropdown .menu .active {
  background-color: #1c1c1c;
}
header .navbar-menu .dropdown .menu .active:hover {
  color: #0a0a0a;
}
header .navbar-menu .dropdown .menu-open {
  display: block;
  opacity: 1;
}
header .navbar-menu .dropdown .menu-open:hover {
  color: #0a0a0a;
}
header .navbar-menu .dropdown .show {
  display: block;
}
.hero {
  background-color: #111111;
  height: 50vh;
  display: flex;
  align-items: center;
  padding: 0% 6vw;
}
.hero .hero-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.hero .hero-container h2 {
  color: #eeeeee;
  font-size: 1.8rem;
  padding-top: 15px;
}
.hero .hero-container p {
  font-family: "Poppins", sans-serif;
  color: #a8a8a8;
  font-weight: 400;
  font-size: 0.95rem;
  max-width: 540px;
}
.hero .hero-container .btn-container {
  display: flex;
  gap: 10px;
  margin-top: 10px;
}
.hero .hero-container .btn-container .btn {
  border-radius: 20px;
  padding: 4px 10px;
  border: none;
  background-color: #1c1c1c;
  color: #eeeeee;
  display: flex;
  align-items: center;
  text-decoration: none;
}
.hero .hero-container .btn-container .btn a {
  text-decoration: none;
  color: #eeeeee;
  font-size: 0.9rem;
}
.hero .hero-container .btn-container .btn i {
  padding-left: 5px;
  color: #6e6e6e;
  font-size: 1.1rem;
  font-weight: 500;
  text-decoration: none;
}

.projects-title {
  padding: 0% 6vw 4% 6vw;
  font-family: "Poppins", sans-serif;
  color: #a8a8a8;
  font-weight: 400;
  font-size: 0.95rem;
  width: 100%;
  margin-bottom: 10%;
}

.projects {
  display: flex;
  align-items: center;
  padding: 0% 6vw;
}
.projects p {
  font-family: "Poppins", sans-serif;
  color: #a8a8a8;
  font-weight: 400;
  font-size: 0.95rem;
  width: 100%;
  margin-bottom: 10%;
}
.projects .projects-container {
  overflow: scroll;
  overflow-y: hidden;
}
.projects .projects-container #billsImg {
  margin: 0px 10px;
  border-radius: 5px;
}
.projects .projects-container .project-content {
  transition: transform 0.4s ease-in-out;
  transform: translateX(0);
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.projects .projects-container .project-content img {
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 5px;
  height: 22vh;
  transition: 0.1s;
}
.projects .projects-container .project-content img:hover {
  box-shadow: 5px 5px 15px;
  cursor: pointer;
  transition: 0.2s;
  transform: scale(1.02);
}
.projects .projects-container .project-content h2 {
  color: #eeeeee;
  font-size: 1rem;
}
.projects .projects-container::-webkit-scrollbar {
  display: none;
}

.hero-about {
  background-color: #111111;
  display: flex;
  justify-content: start;
  align-items: center;
  padding: 5.2% 6vw;
}
.hero-about .hero-container-about {
  display: flex;
  flex-direction: column;
}
.hero-about .hero-container-about h2 {
  padding-top: 10%;
  color: #eeeeee;
  font-size: 1.8rem;
}
.hero-about .hero-container-about p {
  font-family: "Poppins", sans-serif;
  color: #a8a8a8;
  font-weight: 400;
  font-size: 0.95rem;
  width: 100%;
}
.hero-about .container-photo {
  display: none;
  margin-left: 15%;
  padding-top: 20px;
}
.hero-about .container-photo img {
  margin-top: 30px;
  border-radius: 10px;
  width: 250px;
  padding-bottom: 20px;
}

.text-about {
  display: flex;
  align-items: center;
  padding: 0% 6vw;
}
.text-about .about-container h3 {
  font-family: "Poppins", sans-serif;
  color: #a8a8a8;
  font-weight: 400;
  font-size: 0.95rem;
  width: 100%;
  margin-bottom: 5%;
}
.text-about .about-container p {
  animation: appear linear;
  animation-timeline: view();
  animation-range: entry 0;
  color: #eeeeee;
  font-weight: 400;
  font-size: 1rem;
  width: 100%;
  margin-bottom: 5%;
}

.connect .connect-container {
  margin-top: 10%;
  padding: 0% 6vw;
}
.connect .connect-container h2 {
  color: #a8a8a8;
  font-size: 1rem;
  font-weight: 400;
  margin-bottom: 5%;
}
.connect .connect-container .connect-container-btn {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.connect .connect-container .connect-container-btn button {
  animation: appear linear;
  animation-timeline: view();
  animation-range: entry 0;
  width: 87vw;
  height: 8vh;
  border-radius: 10px;
  border: none;
  background-color: #191919;
  display: flex;
  justify-content: start;
  align-items: center;
  position: relative;
  gap: 8px;
  cursor: pointer;
}
.connect .connect-container .connect-container-btn button .ri-linkedin-box-fill,
.connect .connect-container .connect-container-btn button .ri-github-fill,
.connect .connect-container .connect-container-btn button .ri-instagram-line {
  font-size: 25px;
  color: #eeeeee;
  padding-left: 17px;
}
.connect .connect-container .connect-container-btn button .ri-arrow-right-line {
  position: absolute;
  right: 15px;
  top: 22px;
  font-size: 20px;
  color: #eeeeee;
}
.connect .connect-container .connect-container-btn button a {
  color: #eeeeee;
  text-decoration: none;
  font-size: 1rem;
}

.work {
  margin-bottom: 20%;
}
.work .work-container {
  margin-top: 10%;
  padding: 0% 6vw;
}
.work .work-container h2 {
  color: #a8a8a8;
  font-size: 1rem;
  font-weight: 400;
  margin-bottom: 5%;
}
.work .work-container p {
  animation: appear linear;
  animation-timeline: view();
  animation-range: entry 0;
  color: #eeeeee;
  font-weight: 400;
  font-size: 1rem;
  margin-bottom: 5%;
}
.work .place-container {
  animation: appear linear;
  animation-timeline: view();
  animation-range: entry 0;
  margin-top: 10%;
  padding: 0% 6vw;
  display: flex;
  gap: 10px;
}
.work .place-container .img-place-b2x {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.work .place-container .text-place {
  position: relative;
}
.work .place-container .text-place h2 {
  color: #eeeeee;
  font-weight: 400;
  font-size: 1rem;
  margin-bottom: 3%;
}
.work .place-container .text-place h2 a {
  color: #eeeeee;
  font-weight: 400;
  font-size: 1rem;
  margin-bottom: 3%;
  text-decoration: none;
}
.work .place-container .text-place p {
  color: #a8a8a8;
  font-size: 1rem;
  font-weight: 400;
}
.work .place-container .text-place h3 {
  position: absolute;
  left: 46vw;
  top: 0;
  color: #a8a8a8;
  font-weight: 400;
  font-size: 1rem;
  width: 70%;
}
.work .place-container .text-place .h3-b2x {
  left: 57vw;
  width: 50%;
}

.hero-sandbox {
  background-color: #111111;
  height: 35vh;
  display: flex;
  justify-content: start;
  align-items: center;
  padding: 0% 6vw;
}
.hero-sandbox .hero-container-sandbox .sandbox-text p {
  color: #5f5f5f;
  margin-top: 10%;
}
.hero-sandbox .hero-container-sandbox h2 {
  color: #eeeeee;
  font-size: 1.8rem;
}
.hero-sandbox .hero-container-sandbox p {
  font-family: "Poppins", sans-serif;
  color: #a8a8a8;
  font-weight: 400;
  font-size: 0.95rem;
  width: 100%;
}

.sandbox-things {
  background-color: #111111;
  height: 37vh;
  display: flex;
  justify-content: start;
  flex-direction: column;
  padding: 0% 6vw;
  gap: 10px;
}
.sandbox-things h2 {
  color: #eeeeee;
  font-size: 1rem;
}
.sandbox-things p {
  color: #a8a8a8;
  margin-bottom: 5%;
}

@keyframes openTransition {
  from {
    opacity: 0;
    transform: translateY(180deg);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes appear {
  from {
    opacity: 0;
    scale: 0.5;
  }
  to {
    opacity: 1;
    scale: 1;
  }
}
@media (min-width: 768px) {
  body {
    margin: 0 auto;
    max-width: 768px;
    padding: 0px 20px;
    animation: appear linear;
    animation-timeline: view();
    animation-range: entry 0;
  }
  header {
    display: flex;
    align-items: center;
    margin: 0 auto;
    max-width: 768px;
    padding-top: 5.2%;
  }
  header .navbar-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  header .navbar-menu .menu-tablet {
    display: flex;
    text-decoration: none;
    list-style: none;
    gap: 30px;
  }
  header .navbar-menu .menu-tablet .last-link-tablet {
    padding-right: 140px;
  }
  header .navbar-menu .menu-tablet li a {
    font-size: 1rem;
    transition: 0.1s;
  }
  header .navbar-menu .menu-tablet li a:hover {
    color: #eeeeee;
    transition: 0.1s;
  }
  header .dropdown {
    display: none;
  }
  .hero {
    padding: 5.2% 6vw 0% 6vw;
    height: 35vh;
  }
  .container-photo {
    display: none;
  }
  .connect .connect-container {
    margin-top: 5%;
  }
  .connect .connect-container .connect-container-btn button {
    width: 100%;
  }
}
.projects-title {
  margin-bottom: 3%;
}

.projects .projects-container {
  display: flex;
  flex-direction: row;
  gap: 20px;
}/*# sourceMappingURL=style.css.map */