@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

$main-font: "IBM Plex Sans", sans-serif;
$secondary-font: "Poppins", sans-serif;
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $main-font;
}
$main-color: #eeeeee;
$secondary-color: #a8a8a8;
$background-color: #111111;
$terciary-color: #1c1c1c;

#body {
  background-color: #111111;
  animation: openTransition 0.3s;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2.2% 6vw;
  .logo {
    a {
      color: $main-color;
      cursor: pointer;
      text-decoration: none;
    }
  }

  .navbar-menu {
    display: flex;
    gap: 15px;

    .menu-tablet {
      display: none;
    }
    a {
      text-decoration: none;
      color: $secondary-color;
      font-size: 1.3em;
      gap: 20px;
      transition: 0.2s;
      &:hover {
        cursor: pointer;
        // color: $main-color;
        transition: 0.2s;
      }
    }

    .dropdown {
      position: relative;
      // margin: 2em;
      .select {
        .selected {
          // margin-left: 5px;
          font-size: 20px;
          color: $secondary-color;
          cursor: pointer;
          transition: 0.2s;
          &:active {
            color: $main-color;
          }
          &:hover {
            color: $main-color;
            transition: 0.2s;
          }
        }
      }

      .menu {
        cursor: pointer;
        list-style: none;
        position: absolute;
        top: 2.3em;
        transition: 0.3s;
        right: -300%;
        width: 600%;
        transform: translateX(-50%);
        opacity: 0;
        display: none;
        z-index: 1;

        li {
          padding: 10px 20px;
          background-color: #0a0a0a;
          cursor: pointer;

          a {
            color: #eeeeee;
            font-size: 1em;
          }
          &:hover {
            background-color: #191919;
          }
        }

        .first-link {
          border-top-left-radius: 10px;
          border-top-right-radius: 10px;
        }
        .last-link {
          border-bottom-left-radius: 10px;
          border-bottom-right-radius: 10px;
        }
        .active {
          background-color: $terciary-color;
          // padding: 10px;

          &:hover {
            color: #0a0a0a;
          }
        }
      }
      .menu-open {
        display: block;
        opacity: 1;

        &:hover {
          color: #0a0a0a;
        }
      }

      .show {
        display: block;
      }
    }
  }
}

.hero {
  background-color: #111111;
  height: 22em;
  display: flex;
  // justify-content: center;
  align-items: center;
  padding: 0% 6vw;
  .hero-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    h2 {
      color: $main-color;
      font-size: 1.8rem;
    }
    p {
      font-family: $secondary-font;
      color: $secondary-color;
      font-weight: 400;
      font-size: 0.95rem;
      max-width: 520px;
    }

    .btn-container {
      display: flex;
      gap: 10px;
      margin-top: 10px;
      .btn {
        border-radius: 20px;
        padding: 4px 10px;
        border: none;
        background-color: $terciary-color;
        color: $main-color;
        display: flex;
        align-items: center;
        text-decoration: none;
        a {
          // display: flex;
          text-decoration: none;
          color: $main-color;
          font-size: 1rem;
        }
        i {
          padding-left: 5px;
          color: #6e6e6e;
          font-size: 1.1rem;
          font-weight: 500;
          text-decoration: none;
        }
      }
    }
  }
}

.projects-title {
  padding: 0% 2vw 4% 2vw;
  // background-color: wheat;
  font-family: $secondary-font;
  color: $secondary-color;
  font-weight: 400;
  font-size: 0.95rem; 
  width: 100%;
  margin-bottom: 10%;
}

.projects {
  display: flex;
  // justify-content: center;
  align-items: center;
  padding: 0% 6vw;
  margin-bottom: 10%;

  p {
    font-family: $secondary-font;
    color: $secondary-color;
    font-weight: 400;
    font-size: 0.95rem;
    width: 100%;
    margin-bottom: 15%;
  }
  .projects-container {
    #billsImg {
      // margin: 0px 10px;
      border-radius: 5px;
    }
    overflow: scroll;
    overflow-y: hidden;
    .project-content {
      transition: transform 0.4s ease-in-out;
      transform: translateX(0);
      display: flex;
      flex-direction: column;
      gap: 12px;
      img {
        object-fit: cover;
        border-radius: 5px;
        // width: 97%;
        height: 22vh;
        transition: 0.1s;
        &:hover {
          box-shadow: 5px 5px 15px;
          cursor: pointer;
          transition: 0.2s;
          transform: scale(1.02);
        }
      }
      h2 {
        color: $main-color;
        font-size: 1rem;
      }
    }
  }
  .projects-container::-webkit-scrollbar {
    display: none;
  }
}

.blog-title {
  // padding: 0% 2vw 4% 2vw;
  // // background-color: wheat;
  // font-family: $secondary-font;
  // color: $secondary-color;
  // font-weight: 400;
  // font-size: 0.95rem; 
  // width: 100%;
  // margin-bottom: 10%;
}
.blog {
  // display: flex;
  // justify-content: center;
  align-items: center;
  padding: 0% 6vw;
  margin-bottom: 20%;
  .sandbox-text {
      color: #5f5f5f;
        p {
          font-family: $secondary-font;
          // color: $secondary-color;
          font-weight: 400;
          font-size: 0.95rem;
          width: 93%;
          margin-bottom: 10%;
        }
  }
  .blog-container {
    .blog-content {
      display: flex;
      justify-content: space-between  ;
      align-items: center;
      margin-bottom: 20px;
      img {
        width: 100px;
        border-radius: 7px;
      }
      .blog-text {

        p {
          color: $secondary-color;
          font-family: $main-font;
        }
        h3 {
          padding-top: 6px;
          color: $main-color;
          font-size: 1rem;
          font-family: $main-font;
          width: 93%;
        }
      }
      
    }
  }
}
// ABOUT SECTION

.hero-about {
  background-color: #111111;
  // height: 90vh;
  display: flex;
  justify-content: start;
  align-items: center;
  padding: 5.2% 6vw;

  .hero-container-about {
    display: flex;
    flex-direction: column;
    h2 {
      padding-top: 10%;
      color: $main-color;
      font-size: 1.8rem;
    }
    p {
      font-family: $secondary-font;
      color: $secondary-color;
      font-weight: 400;
      font-size: 0.95rem;
      width: 100%;
      margin-bottom: 10px;
    }
  }
  .container-photo {
    // background-color: aqua;
    display: none;
    margin-left: 15%;
    padding-top: 20px;
    img {
      margin-top: 30px;
      border-radius: 10px;
      width: 250px;
      padding-bottom: 20px;
    }
  }
}

.text-about {
  display: flex;
  // justify-content: center;
  align-items: center;
  padding: 0% 6vw;

  .about-container {
    h3 {
      font-family: $secondary-font;
      color: $secondary-color;
      font-weight: 400;
      font-size: 0.95rem;
      width: 100%;
      margin-bottom: 15px;
    }

    p {
      animation: appear linear;
      animation-timeline: view();
      animation-range: entry 0;
      color: $main-color;
      font-weight: 400;
      font-size: 1rem;
      width: 100%;
      margin-bottom: 15px;
    }
  }
}

.connect {
  .connect-container {
    margin-top: 10%;
    padding: 0% 6vw;
    h2 {
      color: $secondary-color;
      font-size: 1rem;
      font-weight: 400;
      margin-bottom: 20px;
    }
    .connect-container-btn {
      display: flex;
      flex-direction: column;
      gap: 20px;
      button {
        animation: appear linear;
        animation-timeline: view();
        animation-range: entry 0;
        // padding: 20px 50px;
        width: 87vw;
        height: 8vh;
        border-radius: 10px;
        border: none;
        background-color: #191919;
        display: flex;
        justify-content: start;
        align-items: center;
        position: relative;
        gap: 8px;
        cursor: pointer;
        .ri-linkedin-box-fill,
        .ri-github-fill,
        .ri-instagram-line {
          font-size: 25px;
          color: $main-color;
          padding-left: 17px;
        }

        .ri-arrow-right-line {
          position: absolute;
          right: 15px;
          top: 35%;
          font-size: 20px;
          color: $main-color;
        }

        a {
          color: $main-color;
          text-decoration: none;
          font-size: 1rem;
        }
      }
    }
  }
}

.work {
  margin-bottom: 10%;
  .work-container {
    margin-top: 45px;
    padding: 0% 6vw;
    h2 {
      color: $secondary-color;
      font-size: 1rem;
      font-weight: 400;
      margin-bottom: 15px;
    }
    p {
      animation: appear linear;
      animation-timeline: view();
      animation-range: entry 0;
      color: $main-color;
      font-weight: 400;
      font-size: 1rem;
      // width: 100%;
      margin-bottom: 5%;
    }
  }

  .place-container {
    animation: appear linear;
    animation-timeline: view();
    animation-range: entry 0;
    margin-top: 30px;
    padding: 0% 6vw;
    display: flex;
    gap: 10px;
    .img-place-b2x {
      width: 50px;
      height: 50px;
      border-radius: 50%;
    }

    .text-place {
      position: relative;
      h2 {
        color: $main-color;
        font-weight: 400;
        font-size: 1rem;
        // width: 100%;
        margin-bottom: 3%;

        a {
          color: $main-color;
          font-weight: 400;
          font-size: 1rem;
          // width: 100%;
          margin-bottom: 3%;
          text-decoration: none;
        }
      }
      p {
        color: $secondary-color;
        font-size: 1rem;
        font-weight: 400;
        // margin-bottom: 5%;
      }
      h3 {
        position: absolute;
        left: 46vw;
        top: 0;
        color: $secondary-color;
        font-weight: 400;
        font-size: 1rem;
        width: 70%;
      }

      .h3-b2x {
        left: 57vw;
        width: 50%;
      }
    }
  }
}

// SANDBOX SECTION

.hero-sandbox {
  background-color: #111111;
  height: 20em;
  display: flex;
  justify-content: start;
  align-items: center;
  padding: 0% 6vw;

  .hero-container-sandbox {
    .sandbox-text {
      p {
        color: #5f5f5f;
        margin-top: 35px;
      }
    }
    h2 {
      color: $main-color;
      font-size: 1.8rem;
    }
    p {
      font-family: $secondary-font;
      color: $secondary-color;
      font-weight: 400;
      font-size: 0.95rem;
      width: 100%;
    }
  }
}

.sandbox-things {
  background-color: #111111;
  height: 37vh;
  display: flex;
  justify-content: start;
  flex-direction: column;
  // align-items: center;
  padding: 0% 6vw;
  gap: 10px;
  h2 {
    color: #eeeeee;
    font-size: 1rem;
  }
  p {
    color: $secondary-color;
    margin-bottom: 15px;
    // font-size:;
  }
}

// BLOG

#blogTitles {
  text-decoration: none;
  color: #a8a8a8;
}
.hero-blog {
  background-color: #111111;
  height: 13em;
  display: flex;
  justify-content: start;
  align-items: center;
  padding: 0% 6vw;

  .hero-container-blog {
    h2 {
      color: $main-color;
      font-size: 1.8rem;
    }
    p {
      font-family: $secondary-font;
      color: $secondary-color;
      font-weight: 400;
      font-size: 0.95rem;
      width: 100%;
    }
  }
}
// KEYFRAMES

@keyframes openTransition {
  from {
    opacity: 0;
    transform: translateY(180deg);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes appear {
  from {
    opacity: 0;
    scale: 0.5;
  }

  to {
    opacity: 1;
    scale: 1;
  }
}

// WEBKIT SCROLLBAR

@media (min-width: 768px) {
  body {
    margin: 0 auto;
    max-width: 768px;
    padding: 0px 20px;
    animation: appear linear;
    animation-timeline: view();
    animation-range: entry 0;
  }
  header {
    display: flex;
    // justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    max-width: 768px;
    padding-top: 5.2%;
    .navbar-menu {
      display: flex;
      justify-content: space-between;
      align-items: center;
      // .ri-earth-fill {
      // padding-left: 140px;
      // }
      .menu-tablet {
        display: flex;
        text-decoration: none;
        list-style: none;
        gap: 30px;

        .last-link-tablet {
          margin-right: 150px;
        }

        li a {
          font-size: 1rem;
          transition: 0.1s;

          &:hover {
            color: $main-color;
            transition: 0.1s;
          }
        }
      }
    }
    .dropdown {
      display: none;
    }
  }

  .hero {
    padding: 0% 6vw 0% 6vw;
    height: 20em;
  }

  .container-photo {
    display: none;
  }

  .connect {
    .connect-container {
      margin-top: 5%;

      .connect-container-btn {
        button {
          width: 100%;

          .ri-arrow-right-line {
            position: absolute;
            right: 15px;
            top: 40%;
            font-size: 20px;
            color: $main-color;
          }
        }
      }
    }
  }

  .hero-blog {
    background-color: #111111;
    height: 12em;
    display: flex;
    justify-content: start;
    align-items: center;
    // padding: 0% 2vw;
    padding-bottom: 20px;
  
    .hero-container-blog {
      h2 {
        color: $main-color;
        font-size: 1.8rem;
      }
      p {
        font-family: $secondary-font;
        color: $secondary-color;
        font-weight: 400;
        font-size: 0.95rem;
        width: 100%;
      }
    }
  }
}




.projects-title {
  padding: 2% 6vw 2% 6vw;
  font-family: $secondary-font;
  color: $secondary-color;
  font-weight: 400;
  font-size: 0.96rem;
  width: 100%;
  margin-bottom: 3%;
}
.projects {
  margin-bottom: 2%;
  .projects-container {
    display: flex;
    flex-direction: row;
    gap: 20px;
  }
}

#blogTitle {
  padding: 2% 6vw 0% 6vw;
}
.blog {
  // display: flex;
  // justify-content: center;
  align-items: center;
  padding: 0% 6vw;
  margin-bottom: 20%;
  .sandbox-text {
      color: #5f5f5f;
        p {
          font-family: $secondary-font;
          // color: $secondary-color;
          font-weight: 400;
          font-size: 0.95rem;
          width: 93%;
          margin-bottom: 25px;
        }
  }
  .blog-container {
    .blog-content {
      display: flex;
      justify-content: space-between  ;
      align-items: center;
      margin-bottom: 20px;
      img {
        width: 100px;
        border-radius: 7px;
      }
      .blog-text {

        p {
          color: $secondary-color;
          font-family: $main-font;
        }
        h3 {
          padding-top: 6px;
          color: $main-color;
          font-size: 1rem;
          font-family: $main-font;
          width: 93%;
        }
      }
      
    }
  }


}



// ABOUT SECTION

@media (min-width: 1024px) {
  header {
    padding: 5.2% 2vw;
  }

  .hero {
    padding: 0% 2vw;
    height: 17em;
  }

  .hero-about {
    padding: 5.2% 2vw;
  }
  .text-about {
    padding: 0% 2vw 0vw 2vw;
  }
  .projects-title {
    padding: 6% 2vw 10px 2vw;
  }

  .projects {
    padding: 0% 2vw;
  }
  .last-link-tablet {
    padding-right: 0px;
  }
  .ri-earth-fill {
    padding-left: 24px;
  }

  .connect {
    .connect-container {
      margin-top: 40px;
      padding: 0% 2vw;
      .connect-container-btn {
        button {
          .ri-arrow-right-line {
            position: absolute;
            right: 15px;
            top: 38%;
            font-size: 20px;
            color: $main-color;
          }
        }
      }
    }
  }

  .work {
    margin-bottom: 20%;
    .work-container {
      margin-top: 55px;
      padding: 0% 2vw;
    }
    .place-container {
      padding: 0% 2vw;
    }
  }

  .hero-sandbox {
    padding: 0% 2vw;
  }
  .sandbox-things {
    padding: 0% 2vw;
  }
  #blogTitle {
    padding: 0% 2vw;
  }
  .blog {
    padding: 0% 2vw;
  }

  .hero-blog {
    background-color: #111111;
    height: 10em;
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 0% 2vw;
    margin-bottom: 20px;
  
    .hero-container-blog {
      h2 {
        color: $main-color;
        font-size: 1.8rem;
      }
      p {
        font-family: $secondary-font;
        color: $secondary-color;
        font-weight: 400;
        font-size: 0.95rem;
        width: 100%;
      }
    }
  }
}
